<app-ngrx-header></app-ngrx-header>

<div class="todo-container" *ngIf="todos$ | async as todos">
  <div class="input-container">
    <input [(ngModel)]="newTodoText" placeholder="Enter Todo" />
    <button (click)="addTodo()" [disabled]="!newTodoText.trim()">Add Todo</button>
  </div>

  <ul>
    <li *ngFor="let todo of todos">
      <span [class.completed]="todo.completed">{{ todo.title }}</span>
      <div>
        <button class="toggle" [ngClass]="todo.completed ? 'incomplete-btn' : 'complete-btn'"
          (click)="toggleTodo(todo.id)">
          {{ todo.completed ? 'Mark as Incomplete' : 'Mark as Complete' }}
        </button>
        <button class="remove" (click)="removeTodo(todo.id)">Remove</button>
      </div>
    </li>
  </ul>
</div>